// Import "Lato" fonts from fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Import font awesome scss files
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/brands.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

// Colors
$lightseagreen: #2baca4;
$white: #fff;
$black1: #000;
$black2: #0c0c0c;
$border-color: #ddd;

.pu-container  {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .pu-side-bar {
        height: 20vh;
        background: $lightseagreen;
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        
        .pu-logo-and-text {
            width: 100% ;
            img {
                width: 100px;
                height: auto;
                object-fit: contain;
                margin: auto;
                display: block;
            }
            span {
                display: block;
                width: fit-content;
                margin: auto;
                color: $white;
                font-size: 1.5rem;
            }
        }
    }
    .pu-content-block {
        height: 80vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        overflow-y: auto;
        .container {
            .lottie-file {
                lottie-player {
                    margin: auto;
                    width: 250px;
                    height: 250px;
                }
            }
            .content-text {
                h1 {
                    line-height: 1.2;
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $lightseagreen;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                p {
                    color: $black2;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            .pu-social-logos {
                ul {
                    list-style: none;
                    width: fit-content;
                    margin: auto;
                    margin-top: 3rem;
                    li {
                        display: inline-block;
                        padding: 0.5rem 1rem;
                        a {
                            color: $black1;
                            text-decoration: none;
                        }
                        a::before {
                            font-size: 1.5rem;
                            font-weight: 400;
                            font-family: 'Font Awesome 5 Brands';
                        }
                        a:hover {
                            color: $lightseagreen;
                        }
                        a.fb-logo::before {
                            content: '\f39e';
                        }
                        a.tw-logo::before {
                            content: '\f099';
                        }
                        a.in-logo::before {
                            content: '\f0e1';
                        }
                    }
                    li:nth-of-type(2) {
                        border: 1px solid $border-color;
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

// Media query for large screens
@media screen and (min-width: 750px) {
    .pu-container  {
        display: flex;

        .pu-side-bar {
            height: 100%;
            width: 600px;

            .pu-logo-and-text {
                width: 100% ;
                img {
                    width: 260px;
                }
                span {
                    margin-top: 1rem;
                }
            }
        }

        .pu-content-block {
            height: 100%;
            width: 100%;

            .container {
                .lottie-file {
                    lottie-player {
                        width: 400px;
                        height: 400px;
                    }
                }
                .content-text {
                    h1 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.8rem;
                        width: 500px;
                    }
                }
            }
        }
    }
}


