@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/brands.min.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.pu-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pu-container .pu-side-bar {
  height: 20vh;
  background: #2baca4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pu-container .pu-side-bar .pu-logo-and-text {
  width: 100%;
}

.pu-container .pu-side-bar .pu-logo-and-text img {
  width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  display: block;
}

.pu-container .pu-side-bar .pu-logo-and-text span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 1.5rem;
}

.pu-container .pu-content-block {
  height: 80vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.pu-container .pu-content-block .container .lottie-file lottie-player {
  margin: auto;
  width: 250px;
  height: 250px;
}

.pu-container .pu-content-block .container .content-text h1 {
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 600;
  color: #2baca4;
  text-align: center;
  margin-bottom: 1rem;
}

.pu-container .pu-content-block .container .content-text p {
  color: #0c0c0c;
  text-align: center;
  font-size: 1.2rem;
}

.pu-container .pu-content-block .container .pu-social-logos ul {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
}

.pu-container .pu-content-block .container .pu-social-logos ul li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.pu-container .pu-content-block .container .pu-social-logos ul li a {
  color: #000;
  text-decoration: none;
}

.pu-container .pu-content-block .container .pu-social-logos ul li a::before {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Font Awesome 5 Brands';
}

.pu-container .pu-content-block .container .pu-social-logos ul li a:hover {
  color: #2baca4;
}

.pu-container .pu-content-block .container .pu-social-logos ul li a.fb-logo::before {
  content: '\f39e';
}

.pu-container .pu-content-block .container .pu-social-logos ul li a.tw-logo::before {
  content: '\f099';
}

.pu-container .pu-content-block .container .pu-social-logos ul li a.in-logo::before {
  content: '\f0e1';
}

.pu-container .pu-content-block .container .pu-social-logos ul li:nth-of-type(2) {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  .pu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pu-container .pu-side-bar {
    height: 100%;
    width: 600px;
  }
  .pu-container .pu-side-bar .pu-logo-and-text {
    width: 100%;
  }
  .pu-container .pu-side-bar .pu-logo-and-text img {
    width: 260px;
  }
  .pu-container .pu-side-bar .pu-logo-and-text span {
    margin-top: 1rem;
  }
  .pu-container .pu-content-block {
    height: 100%;
    width: 100%;
  }
  .pu-container .pu-content-block .container .lottie-file lottie-player {
    width: 400px;
    height: 400px;
  }
  .pu-container .pu-content-block .container .content-text h1 {
    font-size: 2.5rem;
  }
  .pu-container .pu-content-block .container .content-text p {
    font-size: 1.8rem;
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */